

/*  -----------------------------------------------------------------------------------------
    B O O T S T R A P   J S   C O M P O N E N T S
-----------------------------------------------------------------------------------------  */

.modal {
  position: fixed;
  z-index: 1040;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: none;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.6);
}
[data-toggle="modal"] {
  cursor: pointer !important;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0,-30px);
          transform: translate(0,-30px);
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}
.modal.fade.in .modal-dialog {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 20px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow:
  0 1px 0 0 rgba(0, 0, 0, 0.1),
  0 0 0 1px rgba(0, 0, 0, 0.08),
  0 1px 5px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
}
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.fade.in {
  opacity: 0.6;
}

/*** Header ***/

.modal-header {
  position: relative;
  padding: 20px 30px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.modal-header .close,
.modal-header .close:before
{
  position: absolute;
  top: 50%;
    right: 18px;
    display: block;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  padding: 0;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0;
  word-spacing: 0;
  font-size: 20px;
  color: inherit;
  background-color: transparent !important;
  box-shadow: none !important;
}
.modal-header .close {
  opacity: 0.6;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.modal-header .close:before {
  left: 0;
  right: 0;
  content: '\274c';
  content: '\2716';
  content: '\2715';
  font-family: FontAwesome;
}
.modal-header .close:hover {
  opacity: 1;
}
.modal-header .close span,
.modal-header .close svg
{
  display: none;
}
.modal-title {
  margin: 0;
  color: inherit;
}

/*** Body ***/

.modal-body {
  position: relative;
  padding: 30px;
}

/*** Footer ***/

.modal-footer {
  padding: 20px;
  text-align: right;
  border-top: 1px solid #ddd;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 769px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 1001px) {
  .modal-lg {
    width: 900px;
  }
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 10px;
  font-weight: normal;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 0 0.5em 1px 0.5em;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 2px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

/*** Custom ***/

.ui-tooltip {
  width: auto !important;
  max-width: 300px !important;
}
.ui-tooltip .tooltip-inner {
  max-width: none;
  color: inherit !important;
  background: transparent !important;
}
/*  -----------------------------------------------------------------------------------------
    U T I L I T I E S
-----------------------------------------------------------------------------------------  */

/*  -----------------------------------------------------------------------------------------
    Floats
-----------------------------------------------------------------------------------------  */

.clear                { clear: both; }
.pull-right           { float: right !important; }
.pull-left            { float: left !important;  }
.nofloat              { float: none !important;  }
.center-block         { display: block; float: none; margin-left: auto; margin-right: auto; }

/*  -----------------------------------------------------------------------------------------
    Content toggle
-----------------------------------------------------------------------------------------  */

.hide,
.ui-tabs-hide         { display: none !important; }
.show,
.block,
.display-block        { display: block !important;        }
.display-inline       { display: inline !important;       }
.display-inline-block { display: inline-block !important; }
.display-table        { display: table !important;        }
.display-table-row    { display: table-row !important;    }
.display-table-cell   { display: table-cell !important;   }
.invisible            { visibility: hidden; }
.flex-fill            {     -ms-flex: 1 1 auto;
                        -webkit-flex: 1 1 auto;
                                flex: 1 1 auto;
                      }
.flex-basis-0         {
                            -ms-flex-basis: 0px;
                        -webkit-flex-basis: 0px;
                                flex-basis: 0px;
                      }
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/*  -----------------------------------------------------------------------------------------
    Affix plugin
-----------------------------------------------------------------------------------------  */

.affix    { position: fixed; }

/*  -----------------------------------------------------------------------------------------
    Clearfix
-----------------------------------------------------------------------------------------  */

.clearfix:before,
.clearfix:after,
.tb_wt:before,
.tb_wt:after
{
  content: "";
  display: table;
}
.clearfix:after,
.tb_wt:after
{
  clear: both;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
.pos-1 {
  -ms-flex-order: 1;
   -webkit-order: 1;
           order: 1;
}
.pos-2 {
  -ms-flex-order: 2;
   -webkit-order: 2;
           order: 2;
}
.pos-3 {
  -ms-flex-order: 3;
   -webkit-order: 3;
           order: 3;
}
.pos-4 {
  -ms-flex-order: 4;
   -webkit-order: 4;
           order: 4;
}
.pos-5 {
  -ms-flex-order: 5;
   -webkit-order: 5;
           order: 5;
}
.pos-6 {
  -ms-flex-order: 6;
   -webkit-order: 6;
           order: 6;
}
@media (max-width: 480px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
  .visible-xs-block {
    display: block !important;
  }
  .visible-xs-inline {
    display: inline !important;
  }
  .visible-xs-inline-block {
    display: inline-block !important;
  }
  .col-xs-none,
  .hidden-xs  {
    display: none !important;
  }
    .pos-xs-1 {
    -ms-flex-order: 1;
     -webkit-order: 1;
             order: 1;
  }
    .pos-xs-2 {
    -ms-flex-order: 2;
     -webkit-order: 2;
             order: 2;
  }
    .pos-xs-3 {
    -ms-flex-order: 3;
     -webkit-order: 3;
             order: 3;
  }
    .pos-xs-4 {
    -ms-flex-order: 4;
     -webkit-order: 4;
             order: 4;
  }
    .pos-xs-5 {
    -ms-flex-order: 5;
     -webkit-order: 5;
             order: 5;
  }
    .pos-xs-6 {
    -ms-flex-order: 6;
     -webkit-order: 6;
             order: 6;
  }
  }
@media (min-width: 481px) and (max-width: 768px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
  .visible-sm-block {
    display: block !important;
  }
  .visible-sm-inline {
    display: inline !important;
  }
  .visible-sm-inline-block {
    display: inline-block !important;
  }
  .col-sm-none,
  .hidden-sm  {
    display: none !important;
  }
    .pos-sm-1 {
    -ms-flex-order: 1;
     -webkit-order: 1;
             order: 1;
  }
    .pos-sm-2 {
    -ms-flex-order: 2;
     -webkit-order: 2;
             order: 2;
  }
    .pos-sm-3 {
    -ms-flex-order: 3;
     -webkit-order: 3;
             order: 3;
  }
    .pos-sm-4 {
    -ms-flex-order: 4;
     -webkit-order: 4;
             order: 4;
  }
    .pos-sm-5 {
    -ms-flex-order: 5;
     -webkit-order: 5;
             order: 5;
  }
    .pos-sm-6 {
    -ms-flex-order: 6;
     -webkit-order: 6;
             order: 6;
  }
  }
@media (min-width: 769px) and (max-width: 1000px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
  .visible-md-block {
    display: block !important;
  }
  .visible-md-inline {
    display: inline !important;
  }
  .visible-md-inline-block {
    display: inline-block !important;
  }
  .col-md-none,
  .hidden-md  {
    display: none !important;
  }
    .pos-md-1 {
    -ms-flex-order: 1;
     -webkit-order: 1;
             order: 1;
  }
    .pos-md-2 {
    -ms-flex-order: 2;
     -webkit-order: 2;
             order: 2;
  }
    .pos-md-3 {
    -ms-flex-order: 3;
     -webkit-order: 3;
             order: 3;
  }
    .pos-md-4 {
    -ms-flex-order: 4;
     -webkit-order: 4;
             order: 4;
  }
    .pos-md-5 {
    -ms-flex-order: 5;
     -webkit-order: 5;
             order: 5;
  }
    .pos-md-6 {
    -ms-flex-order: 6;
     -webkit-order: 6;
             order: 6;
  }
  }
@media (min-width: 1001px) and (max-width: 1280px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
  .visible-lg-block {
    display: block !important;
  }
  .visible-lg-inline {
    display: inline !important;
  }
  .visible-lg-inline-block {
    display: inline-block !important;
  }
  .col-lg-none,
  .hidden-lg  {
    display: none !important;
  }
    .pos-lg-1 {
    -ms-flex-order: 1;
     -webkit-order: 1;
             order: 1;
  }
    .pos-lg-2 {
    -ms-flex-order: 2;
     -webkit-order: 2;
             order: 2;
  }
    .pos-lg-3 {
    -ms-flex-order: 3;
     -webkit-order: 3;
             order: 3;
  }
    .pos-lg-4 {
    -ms-flex-order: 4;
     -webkit-order: 4;
             order: 4;
  }
    .pos-lg-5 {
    -ms-flex-order: 5;
     -webkit-order: 5;
             order: 5;
  }
    .pos-lg-6 {
    -ms-flex-order: 6;
     -webkit-order: 6;
             order: 6;
  }
  }

@media (min-width: 1281px) {
  .visible-xl {
    display: block !important;
  }
  table.visible-xl {
    display: table;
  }
  tr.visible-xl {
    display: table-row !important;
  }
  th.visible-xl,
  td.visible-xl {
    display: table-cell !important;
  }
  .visible-xl-block {
    display: block !important;
  }
  .visible-xl-inline {
    display: inline !important;
  }
  .visible-xl-inline-block {
     display: inline-block !important;
   }
  .hidden-xl {
    display: none !important;
  }
}

/*  -----------------------------------------------------------------------------------------
    O P E N C A R T
-----------------------------------------------------------------------------------------  */

/*  -----------------------------------------------------------------------------------------
    C O M P O N E N T S
-----------------------------------------------------------------------------------------  */

/*  Listing options   -------------------------------------------------------------------  */

.tb_listing_options {
  position: relative;
  clear: both;
  border-bottom: 1px solid transparent;
}
.tb_listing_options h4,
.tb_listing_options label
{
  float: none;
  margin: 0;
}
.tb_listing_options select {
  height: 24px;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 3px;
    margin-left: 2px;
    padding: 1px;
}
.product-filter {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: -20px;
}
.product-filter b {
  font-weight: normal;
}
.product-filter > * {
  display: inline-block;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  vertical-align: top;
  line-height: 30px;
  padding-left: 20px;
}
.product-filter .display {
      -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-left: -10px;
}
.product-filter .display > * {
  margin-left: 10px;
}
.product-filter .display .fa {
  font-size: 14px;
  vertical-align: top;
}
.product-filter .display .fa:before {
  margin-top: 0.07em;
  margin-bottom: -1px;
}
.product-filter .product-compare {
      -ms-flex: 1000 0 auto;
  -webkit-flex: 1000 0 auto;
          flex: 1000 0 auto;
}
.product-filter .limit select,
.product-filter .sort select
{
  width: auto;
}
.product-filter .limit select {
  min-width: 50px;
}
.product-filter .sort select {
  min-width: 120px;
}

/*** Responsive ***/

.tb_max_w_650 .product-filter,
.tb_max_w_350 .product-filter
{
  display: block !important;
  margin: -20px 0 0;
}
.tb_max_w_650 .product-filter:after,
.tb_max_w_350 .product-filter:after
{
  content: '';
  clear: both;
  display: table;
}
.tb_max_w_650 .product-filter > *,
.tb_max_w_350 .product-filter > *
{
  margin-top: 20px;
  padding: 0 !important;
}
.tb_max_w_650 .product-filter > * {
    float : left;
    min-width: 50%;
}
.tb_max_w_350 .product-filter > *
{
  display: block;
}
.tb_max_w_350 .product-filter select {
  width: 55%;
}

/*  Products table   --------------------------------------------------------------------  */

.cart-info table {
  margin-bottom: 0;
  table-layout: auto;
}
.cart-info td:not(.name) {
  width: 1px;
}
.cart-info td.model {
  min-width: 110px;
}
.cart-info thead td:not(.name) {
  white-space: nowrap;
}
.cart-info img {
  display: inline-block;
  vertical-align: top;
}
.cart-info .return,
.cart-info .image
{
  width: 10px;
}
.cart-info .return img
{
  vertical-align: text-top;
}
.cart-info tbody td {
  padding: 20px 10px !important;
}
.cart-info tbody td:first-child {
    padding-left: 20px;
  }
.cart-info tbody td:last-child {
    padding-right: 20px;
  }
.cart-info .image img {
  max-width: 80px;
}
.cart-info .name {
    text-align: left;
  }
.cart-info .name > a {
  font-size: 14px;
  font-weight: bold;
}
.cart-info .name div,
.cart-info .name > small
{
  line-height: 1.2em;
  font-size: 13px;
}
.cart-info .name div {
  margin-top: 5px;
}
.cart-info .name > small {
  opacity: 0.6;
}
.cart-info .quantity input[type=text],
.cart-info .quantity input[type=number]
{
  width: 40px;
  text-align: center;
}
.cart-info .quantity .ui-spinner {
  margin-left: 0;
  margin-right: 0;
}
.cart-info .quantity input[type="image"] {
  margin-top: -0.25em;
    margin-left: 10px;
    background-color: transparent;
}
.cart-info .action a {
    margin-left: 10px;
  }
.cart-info span.stock {
  color: red;
  font-weight: bold;
}
.cart-info + .cart-total {
  margin-top: 20px;
}
.cart-total {
    text-align: right;
  }
.cart-total table {
  display: inline-table;
  max-width: 300px;
}
.cart-total table td {
  padding: 0 !important;
  vertical-align: top;
}
.cart-total td:first-child {
    text-align: left;
  }
.cart-total td:first-child + td {
    text-align: right;
  }
.cart-total tr td:last-child {
  min-width: 130px;
}
.cart-total tr:last-child td {
  padding-top: 10px !important;
  line-height: 30px;
  font-size: 18px;
}

/*** Mini ***/

.mini-cart-info {
  margin-bottom: 20px;
}
.mini-cart-info table {
  table-layout: auto;
}
.mini-cart-info th:first-child,
.mini-cart-info td:first-child {
    padding-left: 0 !important;
  }
.mini-cart-info tbody:first-child tr:first-child td {
  padding-top: 0 !important;
}
.mini-cart-info th:last-child,
.mini-cart-info td:last-child
{
    padding-right: 0 !important;
  }
.mini-cart-info .image img {
  max-width: 60px;
}
.mini-cart-info .name > a {
  font-size: 13px !important;
}
.mini-cart-info td {
  padding-top: 10px;
  padding-bottom: 9px;
}
.mini-cart-total {
  position: relative;
  margin-top: -20px !important;
  padding-top: 20px;
}
.mini-cart-total table {
  float: none !important;
  max-width: none;
}
.mini-cart-total tr:last-child td {
  line-height: 20px;
  font-size: 14.95px;
}
.mini-cart-total tr td:last-child {
  min-width: 100px;
}
.mini-cart-info ~ .buttons {
  display: block;
  text-align: center;
}
.mini-cart-info ~ .buttons .btn {
  margin-top: 0 !important;
}
.mini-cart-info ~ .buttons .btn:first-child {
  margin-right: 10px;
}


/*** Responsive ***/

.cart-info.tb_max_w_500 thead,
.cart-info.tb_max_w_500 .model,
.cart-info.tb_max_w_500 .price,
.cart-info.tb_max_w_300 thead,
.cart-info.tb_max_w_300 .model,
.cart-info.tb_max_w_300 .price
{
  display: none !important;
}
.cart-info.tb_max_w_500 table,
.cart-info.tb_max_w_500 tbody,
.cart-info.tb_max_w_500 tr,
.cart-info.tb_max_w_500 th,
.cart-info.tb_max_w_500 td,
.cart-info.tb_max_w_300 table,
.cart-info.tb_max_w_300 tbody,
.cart-info.tb_max_w_300 tr,
.cart-info.tb_max_w_300 th,
.cart-info.tb_max_w_300 td
{
  display: block;
  padding: 0;
  text-align: initial;
  border-width: 0;
  border-style: none;
  box-shadow: none;
}
.cart-info.tb_max_w_500 tr,
.cart-info.tb_max_w_300 tr
{
  position: relative;
  margin-bottom: 20px;
    padding: 0 130px 20px 0;
  }
.cart-info.tb_max_w_500 tr:not(:last-child),
.cart-info.tb_max_w_300 tr:not(:last-child)
{
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.cart-info.tb_max_w_500 tr:last-child,
.cart-info.tb_max_w_300 tr:last-child
{
  margin-bottom: 0;
}
.cart-info.tb_max_w_500 tr:after,
.cart-info.tb_max_w_300 tr:after
{
  content: '';
  clear: both;
  display: table;
}
.cart-info.tb_max_w_500 .total,
.cart-info.tb_max_w_300 .total,
.wishlist-info.tb_max_w_500 td.price
{
  font-size: 16.25px;
}
.cart-info.tb_max_w_500 td,
.cart-info.tb_max_w_300 td
{
  padding: 0 !important;
}
.mini-cart-info.tb_max_w_500 ~ .cart-total table,
.mini-cart-info.tb_max_w_300 ~ .cart-total table
{
  width: 100%;
}
.mini-cart-info.tb_max_w_500 tr,
.mini-cart-info.tb_max_w_300 tr
{
    padding-right: 50px;
  }

/*** Min width 500px ***/

.cart-info.tb_min_w_500 tbody:last-child > tr:last-child > td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/*** Max width 500px ***/

.cart-info.tb_max_w_500 .image {
  width: auto;
    float: left;
  margin-right: 20px;
    padding: 0 !important;
}
.cart-info.tb_max_w_500 .name,
.cart-info.tb_max_w_500 .total,
.wishlist-info.tb_max_w_500 .price
{
  width: auto;
    padding-left: 20px !important;
  }
.cart-info.tb_max_w_500 table tbody .name strong:after {
  content: attr(data-quantity);
  font-weight: normal;
}
.cart-info.tb_max_w_500 .quantity,
.cart-info.tb_max_w_500 .action,
.cart-info.tb_max_w_500 .return
{
  position: absolute;
  top: 0;
    right: 0;
  text-align: right;
    width: 40px;
}
.cart-info.tb_max_w_500 .action,
.cart-info.tb_max_w_500 .quantity
{
  width: auto;
}
.cart-info.tb_max_w_500 .quantity input {
  margin-bottom: 10px;
  text-align: center;
  line-height: 30px;
}
.cart-info.tb_max_w_500 .quantity input[type=image] {
  display: none;
}
.cart-info.tb_max_w_500 .return {
  top: 30px;
}
.cart-info.tb_max_w_500 .total,
.wishlist-info.tb_max_w_500 table tbody .price
{
  display: block !important;
}
.cart-info.tb_max_w_500 .total,
.wishlist-info.tb_max_w_500 td.price
{
  padding-top: 10px !important;
}
.cart-info.tb_max_w_500 .remove {
  position: absolute;
  top: 30px;
    right: 0;
    width: auto;
}
.cart-info.tb_max_w_500 .remove > * {
  margin: 0;
}

/*** Max width 330px ***/

.cart-info.tb_max_w_300 td {
  padding: 0 !important;
}
.cart-info.tb_max_w_300 tbody tr {
  padding-left: 0;
  padding-right: 0;
}
.cart-info.tb_max_w_300 .image,
.cart-info.tb_max_w_300 .name,
.cart-info.tb_max_w_300 .total,
.wishlist-info.tb_max_w_300 td.price,
.cart-info.tb_max_w_300 .quantity,
.cart-info.tb_max_w_300 .stock,
.cart-info.tb_max_w_300 .action
{
  position: static;
  float: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center !important;
}
.cart-info.tb_max_w_300 td[class]:not(:first-child) {
  margin-top: 10px;
}
.cart-info.tb_max_w_300 .name {
  margin-top: 20px;
}
.cart-info.tb_max_w_300 .image,
.cart-info.tb_max_w_300 .stock,
.cart-info.tb_max_w_300 .total,
.wishlist-info td.price
{
  margin-top: 0;
}
.cart-info.tb_max_w_300 .image img {
  max-width: none;
}
.cart-info.tb_max_w_300 .quantity {
  padding-top: 10px;
}
.cart-info.tb_max_w_300 .quantity {
  max-width: 130px;
  margin-left: auto;
  margin-right: auto;
}
.cart-info.tb_max_w_300 .remove {
  position: absolute;
  top: 0;
    right: 0;
    width: auto;
}

/*** Margins ***/

.cart-info + .buttons {
  margin-top: -30px;
}
.cart-info + .buttons:before {
  content: none;
}

/*  Reviews   ---------------------------------------------------------------------------  */

.tb_review {
  overflow: hidden;
}
.tb_review .tb_meta {
  line-height: 0;
  text-align: justify;
}
.tb_review .tb_meta:after {
  content: ' ';
  display: inline-block;
  width: 90%;
  height: 0;
  line-height: 0;
  vertical-align: top;
}
.tb_review .tb_author,
.tb_review .rating
{
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
}
.tb_review .tb_author {
  margin-bottom: 10px;
}
.tb_review > p:first-child {
  margin-bottom: 0;
}
.tb_review > p + .tb_meta {
    padding-left: 35px;
  }
.tb_review > p + .tb_meta,
.tb_review > p + .tb_meta .tb_author
{
  margin-bottom: 0;
}
.tb_review > p + .tb_meta .tb_author {
  margin-top: 10px;
    margin-right: 10px;
  }
.tb_review > p + .tb_meta .rating {
  vertical-align: bottom;
}
.tb_review .tb_author small {
  margin-left: 4px;
  font-size: 10px;
  color: #999;
}
.tb_review > p {
  clear: both;
    text-align: left;
  }
.tb_review > p:first-child {
  position: relative;
    padding-left: 35px;
    font-style: italic;
}
.tb_review > p:first-child:before,
.tb_review > p:first-child:after
{
  position: absolute;
  width: 30px;
  height: 24px;
  line-height: 55px;
  font-family: Arial;
  font-size: 60px;
  font-style: italic;
  color: #000;
  opacity: 0.2;
}
.tb_review > p:first-child:before {
    content: '\201C';
  left: 0;
    top: 0;
  text-indent: -7px;
}
.tb_listing > .tb_review:not(:first-child) {
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
}

/*  Submit Buttons   --------------------------------------------------------------------  */

.buttons {
  position: relative;
  z-index: 1;
  clear: both;
  display: table;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
}
.buttons:last-child {
  margin-bottom: 0;
}
.buttons {
      -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}
.buttons > .row {
      -ms-flex: 1 1 100%;
  -webkit-flex: 1 1 100%;
          flex: 1 1 100%;
}
.buttons table {
  width: 100%;
}
.buttons .left,
.buttons .right,
.buttons .pull-left,
.buttons .pull-right
{
  display: table-cell;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
      -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
       -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  float: none !important;
  vertical-align: middle;
}
.buttons .right,
.buttons .pull-right
{
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.buttons .btn:not(.btn-xs):not(.btn-sm):not(.btn-lg):not(.btn-xl):not(.btn-xxl),
.buttons .button,
.buttons button,
.buttons [type=button],
.buttons [type=submit],
#button-cart,
#product_buy_quantity,
#product_buy #input-quantity
{
  height:        50px;
  line-height:   50px !important;
  margin-top:    0px;
  margin-bottom: 0px;
  padding-left:  25px;
  padding-right: 25px;
  font-size:     17px;
}
.buttons .button,
.buttons .btn
{
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}
.pagination + .buttons,
.table-bordered + .buttons,
.pagination + .buttons:before,
.table-bordered + .buttons:before
{
  padding-top: 0;
  border-top-width: 0;
}
.table-responsive + .buttons {
  margin-top: -30px;
}
.tb_sep + .buttons,
fieldset + .buttons
{
  margin-top: 0;
}

/*** Mobile ***/

@media (max-width: 768px) {
  .buttons {
    display: block;
    text-align: inherit;
    margin-top: 20px;
    padding-top: 20px;
  }
  .buttons .left,
  .buttons .right,
  .buttons .pull-left,
  .buttons .pull-right
  {
    display: block;
    width: 100%;
    text-align: initial;
  }
  .buttons > * + * {
    margin-top: 25px;
  }
  .buttons .checkbox,
  .buttons .radio
  {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .buttons i.fa.fa-circle-o-notch.fa-spin,
  .buttons i.fa.fa-circle-o-notch.fa-spin
  {
        margin-left: 10px;
        vertical-align: middle;
  }
  .buttons .tb_button_forgotten {
    display: block;
    float: none;
    margin-bottom: 20px;
  }
  .buttons input[type=submit],
  .buttons input[type=button],
  .buttons button
  {
    line-height: 30px !important;
    -webkit-appearance: none;
  }
}
@media (max-width: 480px) {
  .buttons .btn,
  .buttons .button
  {
    display: block;
    width: 100%;
  }
  .buttons .btn + .btn,
  .buttons .btn + .button,
  .buttons .button + .btn,
  .buttons .button + .button,
  .buttons .left + .right,
  .buttons .pull-left + .pull-right
  {
    margin-top: 10px !important;
  }
}



/*  -----------------------------------------------------------------------------------------
    M O D U L E S
-----------------------------------------------------------------------------------------  */

/*  Banner   ----------------------------------------------------------------------------  */

.tb_module_banner .banner {
  margin: 0 auto;
}
.tb_module_banner .banner > div {
  display: none;
}
.tb_module_banner .banner > div:first-child {
  position: static !important;
  display: block !important;
}

/*  Carousel   --------------------------------------------------------------------------  */

.tb_module_carousel a,
.tb_module_carousel img
{
  display: block;
  margin: 0 auto;
}

/*  Category   --------------------------------------------------------------------------  */

.tb_module_category li > ul {
  display: none;
}
.tb_module_category li > .active {
  font-weight: bold;
}
.tb_module_category li > .active + ul {
  display: block;
}

/*  -----------------------------------------------------------------------------------------
    P A G E S
-----------------------------------------------------------------------------------------  */

/*  Account   ---------------------------------------------------------------------------  */

.login-content .content,
#new_customer
{
  min-height: 180px;
}
#login_form fieldset,
.account-login form fieldset,
.affiliate-login form fieldset
{
  min-width: 0;
  min-height: 140px;
}
@media (max-width: 768px) {
  #content .login-content > .left + .right {
    position: relative;
    padding-top: 30px;
  }
  #content .login-content > .left + .right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid;
    opacity: 0.2;
  }
  #new_customer fieldset,
  #login_form fieldset,
  #content .login-content .content {
    min-height: 0;
  }
  #content .login-content .buttons {
    padding-top: 0;
  }
  #content .login-content .buttons:before {
    content: none;
  }
}

.tb_reward_points th.date,
.tb_transactions th.date {
  white-space: nowrap;
}
.tb_reward_points_total,
.tb_balance_total
{
  display: inline-block;
  margin-top: -0.07em;
  vertical-align: top;
  font-size: 19.5px;
}

.tb_order_info .tb_products tfoot td {
  border: none;
  box-shadow: none;
}
.tb_order_info .tb_products tfoot > tr > td {
  padding-top: 0;
  padding-bottom: 0;
}
.tb_order_info .tb_products tfoot > tr:first-child > td {
  padding-top: 20px;
}
.tb_order_info .tb_products tfoot > tr:last-child > td {
  padding-top: 10px;
  padding-bottom: 20px;
}
.tb_order_info .tb_products tfoot tr:last-child td {
  font-size: 150%;
}


.tb_product_row {
  position: relative;
  clear: both;
}
#return-product .tb_product_row:first-child {
  margin-top: 0 !important;
  border-top: 1px solid #eee;
}

@media (max-width: 768px) {
  #new_customer fieldset,
  #login_form fieldset
  {
    min-height: 0;
  }
  #login_form .tb_button_forgotten {
    display: table-footer-group;
    float: none;
  }
  #login_form .btn {
    display: table-header-group;
    float: none;
  }
}


/*  ---   Brands   ----------------------------------------------------------------------  */

.tb_alphabet_index {
  padding: 10px 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.tb_alphabet_index p > * {
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
}
.tb_alphabet_index p > b {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 11px;
  color: #999;
}
.tb_alphabet_index a {
  padding: 0 5px;
  text-align: center;
  font-size: 15px;
}
.manufacturer-list {
  position: relative;
  clear: both;
  overflow: hidden;
  padding: 20px 0;
}
.manufacturer-list:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  opacity: 0.1;
}
.manufacturer-list:last-child:after {
  border-bottom: none;
}
.manufacturer-heading {
    float: left;
  margin-right: 20px;
    width: 50px;
  text-align: center;
  font-size: 24px;
}
.manufacturer-content {
  overflow: hidden;
}
.manufacturer-content ul {
  display: inline-block;
  width: 24.99999%;
  margin-bottom: 0;
  vertical-align: top;
}

@media (min-width: 481px) and (max-width: 767px) {
  .manufacturer-content ul,
  .manufacturer-content ul > li
  {
    display: inline-table !important;
    width: auto !important;
    vertical-align: top;
  }
  .manufacturer-content ul:not(:last-child),
  .manufacturer-content ul > li:not(:last-child)
  {
        margin-right: 1em;
      }
}
@media (max-width: 479px) {
  .manufacturer-content ul {
    display: block;
    width: auto !important;
  }
}

/*  ---   Cart   ---------------------------------------------------------------  */

#cart_modules {
  margin-bottom: 30px;
}
#cart_modules .ui-state-default,
#cart_modules .ui-state-default *
{
  color: inherit !important;
}
#cart_modules .ui-accordion-content {
  margin: 0;
  padding: 30px 0;
}
#cart_modules .ui-accordion-content-active:last-child {
  padding-bottom: 30px;
}
#cart_modules > h2,
#cart_modules > div
{
  border-top-color:  transparent !important;
  border-left-color:  transparent !important;
  border-right-color: transparent !important;
}
#cart_modules form > label {
  display: block;
  float: none;
  width: auto;
    margin-right: 10px;
  }
#cart_modules form > input[type=text] {
  margin-top: 10px;
    margin-right: 10px;
  }
#cart_modules form > .button,
#cart_modules form > .btn
{
  height: 30px;
  margin-top: 10px;
  padding: 0 10px;
  line-height: 30px;
  vertical-align: bottom;
}
#shipping_quote table.radio {
  width: 100% !important;
  max-width: 500px;
}
#shipping_quote .button,
#shipping_quote .btn
{
  margin-top: 0;
}

/*** Mobile ***/

@media (max-width: 768px) {
  .cart-content {
    width: 100%;
  }
  .cart-total,
  .cart-total table {
    float: none;
    width: 100%;
  }
}

/*  ---   Checkout   --------------------------------------------------------------------  */

.checkout #confirm + .error {
  margin-top: -20px !important;
}
.checkout-heading
{
  position: relative;
  cursor: default !important;
}
.checkout-heading a {
  position: absolute;
    right: 20px;
    text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}
.checkout-content {
  display: none;
  padding: 30px 0;
}
.tb_new_customer_box,
.tb_login_box
{
  min-height: 220px;
}
.checkout select[size] {
  width: 100%;
  margin-bottom: 10px;
}
.checkout > div:last-child .checkout-content {
  padding-bottom: 0;
}

/*** Mobile ***/

@media (max-width: 768px) {
  .checkout-heading a {
    display: block;
    position: static;
  }
  .payment table {
    font-size: 12px;
  }
  .payment td {
    padding-bottom: 10px;
  }
  .payment input[type=text],
  .payment input[type=password],
  .payment select
  {
    display: inline-block;
  }
}

/*  ---   Compare   ---------------------------------------------------------------------  */

.compare-info tbody td:first-child {
  text-align: inherit;
  font-weight: bold;
}
.compare-info tbody:last-child td {
  padding-top: 20px;
  padding-bottom: 0;
  border-bottom: 0;
}
.tb_compare_total .tb_items {
  margin-left:  0.15em;
  margin-right: 0.15em;
}
.tb_compare_total .tb_items:before {
  content: '(';
}
.tb_compare_total .tb_items:after {
  content: ')';
}

/*  ---   Payments   --------------------------------------------------------------------  */

.cart-discounts > div {
  padding: 20px;
  border-width: 5px;
  border-style: solid;
}

/*  ---   Product   ---------------------------------------------------------------------  */

#product {
  position: relative;
}
#review .pagination {
  overflow: visible;
  margin-bottom: 0;
}
#review .pagination > * {
  padding-top: 20px;
}
#review .pagination .links {
    margin-right: 20px;
  }
#review .pagination .results:first-child:last-child {
    float: left;
    padding-top: 25px;
}
#review + .btn {
    clear: right;
  float: right;
    margin-top: 20px;
}
#review .tb_empty {
  float: left;
  width: 100%;
  margin-bottom: 0;
}

/*** Product images ***/

#product_images .tb_zoom_box {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.is_touch #product_images .tb_zoom_box {
  display: none;
}
@media (max-width: 1000px) {
  #product_images .tb_zoom_box {
    display: none;
  }
}
#product_images .tb_zoom_click {
  cursor: url('http://gocdochoi.com/catalog/view/theme/BurnEngine/image/cursor_zoom.cur'), auto !important;
}
#product_images .tb_zoom_click.tb_zoomed {
  z-index: 6;
  cursor: url('http://gocdochoi.com/catalog/view/theme/BurnEngine/image/cursor_zoom_out.cur'), auto !important;
}
#product_images .tb_zoom_mouseover:hover,
#product_images .tb_zoom_drag:hover
{
  z-index: 4;
}
#product_images .tb_zoom_mouseover {
  cursor: move;
}

/*** Product reviews ***/

@media (max-width: 768px) {
  .tb_product_reviews {
    text-align: center;
  }
  .tb_product_reviews .tbAddReviewButton {
    margin-top: 20px;
  }
}


/*  ---  Returns  -----------------------------------------------------------------------  */

.return-product,
.return-detail
{
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -30px;
  margin-right: -30px;
  padding-right: 30px;
}
.return-product:after,
.return-detail:after
{
  content: '';
  display: table;
  clear: both;
}
.return-product > *,
.return-detail > *
{
    float: left;
    width: 33.3333%;
  padding-left: 30px;
}
.return-reason table {
  margin-top: 5px;
}
.return-reason input[type=radio] {
    margin-right: 0.5em;
  }
.return-opened b {
  display: inline-block;
  margin-bottom: 5px;
}

/*** Mobile ***/

@media (max-width: 768px) {
  #return_request_info table {
    font-size: 11px;
  }
  .return-product > *,
  .return-detail > *
  {
    float: none;
    width: 100%;
    margin: 20px 0;
  }
  .return-product:after,
  .return-detail:after
  {
    content: none;
  }
}

/*  ---   Sitemap   ---------------------------------------------------------------------  */

.tb_sitemap {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
}
@media (max-width: 768px) {
  #sitemap .tb_list_1 {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}

/*  ---   Wishlist   --------------------------------------------------------------------  */

.account-wishlist .tb_system_page_content table td:first-child {
  width: 1px;
}
.wishlist_total .tb_items {
  margin-left:  0.15em;
  margin-right: 0.15em;
}
.wishlist_total .tb_items:before {
  content: '(';
}
.wishlist_total .tb_items:after {
  content: ')';
}
/*  -----------------------------------------------------------------------------------------
    C O M M O N
-----------------------------------------------------------------------------------------  */

td .btn + .btn {
    margin-left: 0.5em;
  }
.form-horizontal .col-sm-offset-2 .g-recaptcha {
    padding-left: 180px;
  }

/*  -----------------------------------------------------------------------------------------
    P A G E S
-----------------------------------------------------------------------------------------  */

/*  Account & Affiliate   ---------------------------------------------------------------  */

.tb_page_account_login .tb_system_page_content .row > div,
#collapse-checkout-option .row > div,
.tb_page_account_login .tb_system_page_content .well
{
  display:  -ms-flexbox !important;
  display: -webkit-flex !important;
  display:         flex !important;
}
.tb_page_account_login .tb_system_page_content .well,
#collapse-checkout-option .tb_new_customer_box
{
      -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
   -webkit-align-self: stretch;
           align-self: stretch;
  width: 100%;
}
.tb_page_account_login .tb_system_page_content .well #new_customer,
.tb_page_checkout_checkout .tb_system_page_content .tb_new_customer_box,
#collapse-checkout-option .tb_new_customer_box
{
      -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
}
#collapse-checkout-option .buttons {
      -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}
.account-login form fieldset label,
.affiliate-login form fieldset label
{
  display: block;
  font-weight: bold;
}
.account-account .tb_system_page_content .list-unstyled + h2,
.affiliate-account .tb_system_page_content .list-unstyled + h2
{
  position: relative;
  margin-top: 30px;
  padding-top: 30px;
}
.account-order      .tb_system_page_content td:nth-child(7),
.account-order-info .tb_system_page_content td:nth-child(6),
.account-recurring  .tb_system_page_content td:nth-child(5),
.account-return     .tb_system_page_content td:nth-child(6),
.account-wishlist   .tb_system_page_content td:nth-child(6),
.account-address    .tb_system_page_content td:nth-child(2)
{
  width: 1px;
  white-space: nowrap;
}
.account-address    .tb_system_page_content td:nth-child(2) {
  vertical-align: top;
}
.account-address .tb_system_page_content td:first-child:first-line {
  font-weight: bold;
}
body[class*="account"]   td .btn i,
body[class*="account"]   td .btn i:before,
body[class*="affiliate"] td .btn i,
body[class*="affiliate"] td .btn i:before
{
  margin: 0;
}
.account-order-info tfoot td:not([colspan]),
#collapse-checkout-confirm td:not([colspan])
{
  max-width: 200px;
}
.account-order-info tfoot tr:not(:first-child) > td,
#collapse-checkout-confirm tfoot tr:not(:first-child) > td
{
  padding-top: 0;
}
.account-order-info tfoot tr:not(:last-child) > td,
#collapse-checkout-confirm tfoot tr:not(:last-child) > td
{
  padding-bottom: 0;
}
.account-order-info tfoot tr:last-child > td,
#collapse-checkout-confirm tfoot tr:last-child > td
{
  padding-top: 10px !important;
  line-height: 30px;
  font-size: 18px;
}
#collapse-checkout-confirm .buttons {
  margin-top: 0;
}

/*  Cart & Checkout   -------------------------------------------------------------------  */

.checkout-cart .tb_system_page_content .panel-group .panel-heading a,
.checkout-cart .tb_system_page_content .panel-group .panel-heading a[class],
.checkout-checkout .tb_system_page_content .panel-group .panel-heading a,
.checkout-checkout .tb_system_page_content .panel-group .panel-heading a[class]
{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: inherit !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
.checkout-cart .tb_system_page_content .panel-group .panel-heading a i,
.checkout-cart .tb_system_page_content .panel-group .panel-heading a i:before,
.checkout-checkout .tb_system_page_content .panel-group .panel-heading a i,
.checkout-checkout .tb_system_page_content .panel-group .panel-heading a i:before
{
  margin: 0;
}
.checkout-cart .tb_system_page_content .panel-group .panel-heading a.collapsed i,
.checkout-cart .tb_system_page_content .panel-group .panel-heading a:not([aria-expanded]) i,
.checkout-checkout .tb_system_page_content .panel-group .panel-heading a.collapsed i
{
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.checkout-cart .tb_system_page_content .panel-group .panel-heading a:before,
.checkout-checkout .tb_system_page_content .panel-group .panel-heading a:before
{
  content: none !important;
}
.checkout-cart .tb_system_page_content .panel-group .panel .panel-collapse,
.checkout-checkout .tb_system_page_content .panel-group .panel-collapse
{
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
}
.checkout-cart .tb_system_page_content .panel-group .panel:not(:last-child) .panel-collapse:not(.in),
.checkout-checkout .tb_system_page_content .panel-group .panel-collapse
{
  border-bottom-color: transparent !important;
}
.checkout-checkout .tb_system_page_content .panel-group .panel:last-child .panel-body {
  padding-bottom: 0 !important;
}
#payment-existing select,
#shipping-existing select
{
  width: 100%;
  margin-bottom: 20px;
}
#shipping_quote p:not(:first-child),
#shipping_quote .radio + h2,
#collapse-shipping-method p:not(:first-child),
#collapse-shipping-method .radio + h2,
#collapse-payment-method p:not(:first-child),
#collapse-payment-method .radio + h2
{
  margin-top: 20px;
}
#shipping_quote p + .radio,
#collapse-shipping-method p + .radio
{
  margin-top: -20px;
}
#collapse-shipping-method textarea,
#collapse-payment-method textarea
{
  width: 100%;
}
#button-shipping {
  margin-top: 20px !important;
}
#cart_form + h2,
#cart_form + h2 + p
{
  display: none;
}
#cart_form .name .label {
  margin-top: 10px;
  vertical-align: bottom;
}
.checkout-cart .tb_system_page_content .cart-total {
  margin-top: 30px;
}
#collapse-coupon label,
#collapse-reward label,
#collapse-voucher label
{
  display: block;
  float: none;
  width: auto;
  max-width: none;
  margin: 0 0 10px 0;
  padding: 0;
}
#collapse-coupon .input-group,
#collapse-reward .input-group,
#collapse-voucher .input-group
{
  width: 350px;
}

/*  -----------------------------------------------------------------------------------------
    C O M P O N E N T S
-----------------------------------------------------------------------------------------  */

/*  Autocomplete   ----------------------------------------------------------------------  */

.autocomplete-menu {
  z-index: 2;
}
.autocomplete-menu a {
  -webkit-transition: none;
          transition: none;
}
.autocomplete-menu a:hover,
.autocomplete-menu a:focus
{
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.06);
  box-shadow:
    inset 0 -1px 0 rgba(0, 0, 0, 0.05),
    inset 0  1px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: color 0.3s, background 0.3s;
          transition: color 0.3s, background 0.3s;
}

/*  Breadcrumbs   -----------------------------------------------------------------------  */

.breadcrumb li:first-child a:before {
  content: 'Home';
}
.breadcrumb i.fa {
  display: none;
}

/*  Datetimepicker   --------------------------------------------------------------------  */

.bootstrap-datetimepicker-widget {
  opacity: 1 !important;
  display: block;
  padding: 0 !important;
}
.bootstrap-datetimepicker-widget[style*="display: none"],
.bootstrap-datetimepicker-widget[style*="display:none"],
.bootstrap-datetimepicker-widget:not([style*="absolute"])
{
  opacity: 0 !important;
  display: none !important;
}
.bootstrap-datetimepicker-widget:before,
.bootstrap-datetimepicker-widget:after
{
  content: none !important;
}
.bootstrap-datetimepicker-widget * {
  border-radius: inherit;
}
.bootstrap-datetimepicker-widget th {
  background-color: transparent;
}
.bootstrap-datetimepicker-widget th,
.bootstrap-datetimepicker-widget td,
.bootstrap-datetimepicker-widget td span
{
  padding: 0 !important;
  border-radius: 0 !important;
  vertical-align: middle;
  -webkit-transition: opacity 0.3s, color 0.3s, background-color 0.3s;
          transition: opacity 0.3s, color 0.3s, background-color 0.3s;
}
.bootstrap-datetimepicker-widget td span {
  margin: 2px !important;
  border-radius: 0 !important;
}
.bootstrap-datetimepicker-widget .prev,
.bootstrap-datetimepicker-widget .next,
.bootstrap-datetimepicker-widget .picker-switch
{
  line-height: 30px;
}
.bootstrap-datetimepicker-widget .prev,
.bootstrap-datetimepicker-widget .next
{
  width: 30px;
  padding-bottom: 0.12em !important;
  line-height: 10px;
  font-family: "Open Sans", Tahoma, Arial, sans-serif !important;
  font-weight: normal !important;
  font-size: 22px;
}
.bootstrap-datetimepicker-widget thead .prev:hover,
.bootstrap-datetimepicker-widget thead .next:hover,
.bootstrap-datetimepicker-widget thead .picker-switch:hover
{
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.bootstrap-datetimepicker-widget table {
  display: block;
}
.bootstrap-datetimepicker-widget table thead,
.bootstrap-datetimepicker-widget table tbody
{
  display: table;
  width: 100%;
  padding: 10px;
  border-collapse: separate;
  border-spacing: 3px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.bootstrap-datetimepicker-widget table tbody:not(:first-child) {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.bootstrap-datetimepicker-widget .datepicker .dow {
  padding-top: px;
  opacity: 0.7;
}
.bootstrap-datetimepicker-widget .datepicker .day {
  height: 30px;
}
.bootstrap-datetimepicker-widget .datepicker-years td,
.bootstrap-datetimepicker-widget .datepicker-years td:hover,
.bootstrap-datetimepicker-widget .datepicker-months td,
.bootstrap-datetimepicker-widget .datepicker-months td:hover,
.bootstrap-datetimepicker-widget .timepicker-picker td,
.bootstrap-datetimepicker-widget .timepicker-picker td:hover
{
  background-color: transparent !important;
}
.bootstrap-datetimepicker-widget .old,
.bootstrap-datetimepicker-widget .new
{
  opacity: 0.5 !important;
  background-color: transparent !important;
}
.bootstrap-datetimepicker-widget .datepicker-months tbody,
.bootstrap-datetimepicker-widget .datepicker-years tbody
{
  padding: 7px 0;
}
.bootstrap-datetimepicker-widget .collapse:not(:last-child) table tbody {
  padding-bottom: 0;
}
.bootstrap-datetimepicker-widget .collapse:last-child table tbody {
  padding-top: 0;
}
.bootstrap-datetimepicker-widget .picker-switch.accordion-toggle {
  padding: 10px;
}
body .bootstrap-datetimepicker-widget .btn[class] {
  height: auto !important;
  font-size: 17px;
  color: inherit !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}
body .bootstrap-datetimepicker-widget .btn[class]:hover {
  color: inherit !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.bootstrap-datetimepicker-widget a[data-action] {
  padding: 0 !important;
}
body .bootstrap-datetimepicker-widget .btn[class] span,
body .bootstrap-datetimepicker-widget .btn[class] span:hover
{
  color: inherit !important;
  background-color: transparent !important;
}
.bootstrap-datetimepicker-widget .timepicker-picker tr td a.btn {
  width: 54px;
}
.bootstrap-datetimepicker-widget .timepicker-picker tr:first-child td,
.bootstrap-datetimepicker-widget .timepicker-picker tr:first-child td span,
.bootstrap-datetimepicker-widget .timepicker-picker tr:last-child td,
.bootstrap-datetimepicker-widget .timepicker-picker tr:last-child td span
{
  height: 30px !important;
  line-height: 30px !important;
}

/*  -----------------------------------------------------------------------------------------
    P R O D U C T   P A G E
-----------------------------------------------------------------------------------------  */

/*  Info   ------------------------------------------------------------------------------  */

.tb_wt_product_info_system dl dt,
.tb_wt_product_info_system dl dd
{
  float: none;
  clear: none;
  display: inline;
}
.tb_wt_product_info_system dl dt {
    margin-right: 5px;
  }
.tb_wt_product_info_system dl dd:after {
  content: '';
  display: block;
}

/*  Images   ----------------------------------------------------------------------------  */

.product-info .thumbnails {
  display: none;
}

/*  Options   ---------------------------------------------------------------------------  */

.options .form-group {
  margin-left: -20px;
}
.options .form-group > label,
.options .form-group > div
{
  margin-left: 20px;
}
.options .form-group > label {
  min-width: 120px;
}
.options .tb_style_1 .image + .image {
  margin-top: 10px;
}
.options .checkbox.image > label input,
.options .radio.image > label input,
.options .checkbox.image > label img,
.options .radio.image > label img
{
    margin-right: 5px;
  }
.options .tb_style_1 .checkbox.image,
.options .tb_style_1 .radio.image
{
  padding-top: 0;
  padding-bottom: 0;
}

/*** Custom Style ***/

.options .tb_style_2 > div {
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
       -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.options .tb_style_2 .control-label {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
          align-self: flex-start;
}
.options .tb_style_2 > div > div:not(.text-danger) {
  margin-top: -10px;
  margin-left: -10px;
}
.options .tb_style_2 > div > div:after {
  content: '';
  clear: both;
  display: table;
}

/*** Custom style - button checkbox / radio ***/

.options .tb_style_2 .checkbox,
.options .tb_style_2 .radio
{
  display: block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
       -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
    float: left;
    margin-top: 10px;
  margin-left: 10px;
  padding: 0 !important;
}
.options .tb_style_2 .checkbox > label,
.options .tb_style_2 .radio > label
{
  display: block;
  height: 40px;
  min-width: 40px;
  margin: 0 !important;
  padding: 0 8px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.options .tb_style_2 .checkbox > label span,
.options .tb_style_2 .radio > label span,
.options .tb_style_2 .checkbox.image > label div,
.options .tb_style_2 .checkbox > label input[type=checkbox],
.options .tb_style_2 .radio > label input[type=radio]
{
  display: none;
}

/*** Custom style - image checkbox / radio ***/

.options .tb_style_2 .checkbox.image > label,
.options .tb_style_2 .radio.image > label
{
  width: auto;
  height: auto;
  min-width: 0;
  padding: 3px;
  line-height: normal !important;
  cursor: pointer;
}
.options .tb_style_2 .checkbox.image > label img,
.options .tb_style_2 .radio.image > label img
{
  margin: 0;
  padding: 1px;
  vertical-align: top;
  background: #fff;
}

/*** Mobile ***/

.tb_max_w_300 .option b,
.tb_max_w_300 .option .required
{
  float: none;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
.tb_max_w_300 .option .required {
    padding-right: 0;
  }
.tb_max_w_300 .option b {
  max-width: none;
}
.tb_max_w_300 .tb_checkbox_row .tb_group,
.tb_max_w_300 .tb_radio_row .tb_group
{
  padding-top: 0;
  padding-bottom: 0;
}
.tb_max_w_300 .option .tb_group,
.tb_max_w_300 #profile-description
{
  float: none;
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
.tb_max_w_300 .option + .error,
.tb_max_w_300 .option > .error
{
    margin-left: 0;
  padding-left: 0;
  }
.tb_max_w_300 .option input[type=button] {
  float: none;
}

/*  ---   Search   ----------------------------------------------------------------------  */

#adv_search_box > div {
  width: auto;
}
#adv_search_box > div:last-child {
  width: 100%;
  max-width: none;
  margin-top: 20px;
}
.tb_max_w_550 #adv_search_box > div {
  width: calc(100% - 20px);
  max-width: none;
}
.tb_max_w_550 #adv_search_box > div:not(:first-child) {
  margin-top: 20px;
}
.tb_min_w_550 #adv_search_box input[type=text],
.tb_min_w_550 #adv_search_box select
{
  width: 250px;
}
#adv_search_box .btn {
  width: 80px;
  margin-left: 0;
}
#adv_search_box .tb_button_1 .tb_text {
  text-align: center;
}
#adv_search_box > :last-child {
  margin-bottom: 0;
}

